*{
    font-family: system-ui;
}
img{
    width: 130px;
    border-radius: 50%;
    object-fit: cover; 
    box-shadow: 1px 5px 10px 1px #cccbcb;
    margin-bottom:20px; 
}

.bloco{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 400px;
    height: 700px;
    border-radius: 20px;
    max-width: 600px;
    box-shadow: 10px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;

}

.name {
   margin: 20px;
}

.bio {
    margin: 20px;
}
.contact {
    margin: 20px;
}

.email {
    margin: 20px;
}

a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: 800;
}



button{
    width: 160px;
    height: 45px;
    border-radius: 15px;
    margin: 10px;
    transition: .3s;
    color: white;
    border: none;
    background: rgb(36,109,166);
    background: linear-gradient(90deg, rgba(36,109,166,1) 0%, rgba(41,123,194,1) 36%, rgba(109,196,227,1) 85%);
    box-shadow: 1px 3px 7px 1px rgb(202, 200, 200);
}

button:hover{
    background-color: rgb(131, 126, 126);
    cursor: pointer;
    transform: scale(1.04);
}

.primeiro{
    width: 400px;
    border: none;
    border-top: 2px solid#a5d0f8; 
    margin: 2px 0; 
}

.segundo{
    width: 400px;
    border: none;
    border-top: 2px solid#4c9ae2; 
    margin: 2px 0; 
}

.terceiro{
    width: 400px;
    border: none;
    border-top: 2px solid#2170bb; 
    margin: 2px 0; 
}

.quarto{
    width: 400px;
    border: none;
    border-top: 2px solid#88bef1; 
    margin: 2px 0; 
}
